$primary-color :white;

@font-face {
  font-family: "myFont";
  src: url("assets/font/Poppins-Medium.woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "myFont";
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  //background-color: $primary-color;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.9);
  background-blend-mode: lighten;  //background-blend-mode: overlay;
  //font-family: "Poppins";
  color: #707070;  
  overflow: hidden;
  //background-image: ;
}

.desktopClass{
  opacity: 0.1;
}
#main{
  flex-direction: column;
}

// Logo i haslo reklamowe

#logoWelcome{
text-align: center;
margin-top: 311px;
width: 561px;
height: 198px;
margin-left: auto;
margin-right: auto;
}

#welcomeText{
  text-align: center;
  margin-top: 91px;
  font-size: 25px;
  font-weight: bold;
}

.buttonStartClass{
  text-align: center;
  margin-top: 91px;
}

#buttonStart{
  width: 272px;
  height: 70px;
  background-color: #E8442C;
  border-radius: 35px;
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  border: none;
}

.logoMain{
  float: right;
  width: 290px;
  height: 104px;
  margin-right: 140px;
  margin-bottom: 76px;
  margin-top: 88px;
}
#head{
  display:flex;
  flex-direction: column;
}
#company{
  margin-right: 312px;
  font-size: 19px;
  float: right;

}
// Menu

.navigationBar{
  margin-bottom: 69px;

}

ul li {
	display: inline;
	white-space: nowrap;
  float: right;
}
li{
  margin-left: 48px;
  font-size: 25px;
}
#menu{
  margin-right: 312px;
}

.colorGrey{
  color: #707070;
}

.colorRed{
  color: red;
}



//ZAWARTOŚĆ MAIN CONTENT

.newBoxVideo {
  background-color: green;
 
}

.hidden{
 display: none !important;
 opacity: 0;

}



.produktyMainHidden{
  display: none;

}
.filmyMain{
  display: flex;
  opacity:1!important;
  transition: opacity 350ms;

}
.filmyMainHidden{
  display: none;

}
.wspolpracaMain{
  display: flex;
  opacity:1!important;
  transition: opacity 350ms;
}



// DZIAL PDF
.canvasContainerInside{
  width: 1204px;
  height: 750px;
  overflow: scroll;
}

.canvasContainer{
  text-align: center;
  width: 1214px;
  height: 750px;
  margin-left: 340px;
  padding: 9px;
  
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
::-webkit-scrollbar {
  width: 20px;
  height: 20px;
  //left:-100px;
 // background-color: #F6F7F9;
}
.canvasContainerInside::-webkit-scrollbar-track
{
	border-radius: 10px;
 // width: 25px;
  

	// background-color: #991010;
}

.canvasContainerInside::-webkit-scrollbar-thumb{
background-color: #E8442C;
border-left: 5px solid white;
  border-right: 5px solid white;
  border-top:5px solid white;
  border-bottom: 5px solid white;
}

#cnv{
  text-align: center;

}

.pngPdf{
  height:115px;
  width:101px;
  align-content: center;
  margin-bottom: 10px;
  margin-top: 20px;

}
.pdfMain{
  display: flex;
  flex-wrap: wrap;
  
  margin-top: 68px;
  margin-left: 290px;
  margin-right: 290px;
  opacity:1!important;
  transition: opacity 350ms;

}
 
 .pdfMainHidden{
   display: none;
 }

.PDFTitle{
  font-size: 19px;

}
.clickPdfClass{
  color:gray;

}

.addShadow{
  box-shadow: #000029;
  box-shadow: 0px 3px 6px;
  opacity: 1;
}

//nowy div z zawortoscia - nazwa pliku pdf

#npage, #npages, .fontSizeSlesh{
  font-size: 25px;
}

#prev{
margin-right: 23px;
}

#next{
margin-left: 23px;
}

.justStronaSign{
  font-size: 19px;
}

.logoPdf{
  height: 77px;
}

#logoPdf{
  height: 77px;
}

.buttonWroc{
  display: flex;
flex-direction: row;
}

.pdfSignAndFileName{
  text-align: left;
  width: 300px;
}

.navigation2Pdf{
  width: 1204px;
  height: 104px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pageNavigator{
  display: flex;
  flex-direction: column;
  margin-bottom: 131px;
  margin-right: 240px;

}

.pagesNumbers{
  margin-bottom: 31px;

}

 .zoom{
height: 35px;
width: 30px;
 }

 #zoomIn{
   margin-right: 22px;
 }

.pdfZoom{
display: flex;
justify-content: space-between;
margin-top: 40px;
}

.justPdfSign{
  color: red;
  font-size: 25px;
}

.centerPagesNavigator{
  display: flex;
  flex-direction: column;
}

.arrowPdfnumber{
  width: 17px;
  height: 17.12px;
}

.arrowBackPdf{
width: 30px;
}

.backToMainPdf{
  padding-top: 23px;
  font-size: 19px;
  margin-left: 27px;
}

.newDivPdfFile{
  display: none;
}

.newBoxPdf {
  width:248px;
  height: 215px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 40px;
  text-align: center;

}
.pupPdf{
  display: none;
  //position: absolute;
  opacity:0;
  background-color: red;
}
.pupPdfOpen{
  display:block;
  text-align: center;
  opacity:1!important;
  transition: opacity 350ms;

}

.noneSens {
color: #000;
}



.pdfNavigation{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.buttons{
  width: 272px;
  height: 70px;
  background-color: #E8442C;
  border-radius: 35px;
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

#backToFullProduct{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:  1727px;
  margin-top: 88px;
  margin-left: 100px;
  margin-right: 77px;
  margin-bottom: 15px;
}
// Dział Produkty

#backToProductsDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:  1727px;
  margin-top: 88px;
  margin-left: 100px;
  margin-right: 77px;
  margin-bottom: 159px;
  }


.newBoxProduct{
  width: 206px;
  height: 172px;
  margin-right: 70px;
  margin-bottom: 100px;
}

.pngProduct{
  width: 206px;
  height: 115px;
  margin-bottom: 30px;
}

.produktyMain{
  display: flex;
  flex-wrap: wrap;
  padding-left: 305px;
  padding-right: 200px;
  opacity:1!important;
  transition: opacity 350ms;
}

.productTitle{
  text-align: center;
}

.fullProductPhotos{
  width:  655px ;
  
  //height: auto;
 //height: 368px;
margin-left: auto;
margin-right: auto;
object-fit: cover;
}

.fullProductBox{
  display: flex;
 
  flex-wrap: wrap;
  opacity:1!important;
  transition: opacity 350ms;
}

#sliderConteiner{
  order: 0;
  margin-left: 295px;
}

.pngPdfProduct{
  width: 34px;
  height: 39px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px ;
}

.cardProductPdfs{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.pdfWithTitle{
  width:  132px;
  display: flex;
  flex-direction: column;
}

.productTitleFull{
  font-size: 22px;
  margin-bottom: 68px;
  margin-top: 20px;
  
}

.fullProductTexts{
  margin-left: 31px;
  height: 368px;
  width: 528px;
  order: 2;
}

#backToMainProduct{

width: 30px;

}

.backToMainProductDiv{
  justify-content: center;
  width: 100%;
  display: flex;
}

.productPdfTitle {
text-align: center;
font-size: small;
}

#nextProductPhoto{
 margin-left: 15px;
 width: 27px;
 height: 31px;
 margin-top: auto;
 margin-bottom: auto;
}

#prevProductPhoto{
  margin-right: 15px;
  width: 27px;
  height: 31px;
  margin-top: auto;
  margin-bottom: auto;

}

.imgContainer{
  width:  739px;
  height: 360px;
  display: flex;

}

// Dział Filmy



.videosContainer{
  display: grid;
  margin-left: auto;
  margin-right:auto;

  grid-template-columns: repeat(4, 299px);
  grid-gap: 50px;
}

.videoItem{
  height: 168px;
  width: 299px;
}

.videoItem:nth-child(2)
 {
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 386px;
  width: 648px;
}

.videoItem:nth-child(3)
 {
  grid-column-start: 4;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: 3;
 
}

.videoItem:nth-child(5)
 {
  grid-column-start: 4;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: 4;
 
}

.videoItem:nth-child(6)
 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start:3;
  grid-row-end:5;
  height: 386px;
  width: 648px;
}

.videoItem:nth-child(7)
 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  
}

.videoItem:nth-child(8)
 {
  grid-column-start: 4;
  grid-column-end: end;
  grid-row-start: 3;
  grid-row-end: 4;
  
}

.videoItem:nth-child(9)
 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  
}

.videoItem:nth-child(11)
 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  
}
#2{
  color: pink;
}
.cardVideoFull{
  display: flex;
  flex-direction: column;
  margin-left: 278px;
  margin-right: 278px;
  align-items: center;
  
}

.transitionerFilmy{
  opacity:1!important;
  transition: opacity 350ms;
}

.videoFull{
  width: 1064px;
  max-height: 700px;
  margin-top: 41px;
  margin-bottom: 50px;
}

.videoFullDiv{
  display: flex;
  flex-direction: row;
}

.videoFullPrev , .videoFullNext {
  width: 26px;
  height: 31px;
  margin-top: auto;
  margin-bottom: auto;
}
.videoFullNext{
  margin-left: 28px;
}

.videoFullPrev{
  margin-right: 28px;
}

#backToMainVideos{
width: 30px;

}

.backToMainVideosDiv{
display: flex;
flex-direction: row;
justify-content: space-between;
width:  1727px;
margin-top: 88px;
}

.cardVideoJustSignFilmy{

  font-size: 25px;
  color: red;
  font-weight: 600;
  margin-bottom: 5px;
}

.backToMainVideosText{
padding-top: 23px;
font-size: 19px;
margin-left: 27px;
}

.play-button-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	#circle-play-b {
		cursor: pointer;
		pointer-events: auto;
  }}

.cardVideoTitle{
  font-size: 19px;
}

.arrowPlayVideo{
  width: 89px;
  height: 89px;
  margin-top: 100px;
}

//----------------- Video player ------------------------

.video-js{
  font-size: 20px!important;
}
.vjs-theme-forest {
  --vjs-theme-forest--primary: red!important;
   --vjs-theme-forest--secondary: white!important;
}

.vjs-theme-forest .vjs-big-play-button{
  background-image: url("./assets/images/Obejrzyj.svg")!important;
  background-repeat: no-repeat!important;
}

.vjs-paused.vjs-has-started .vjs-big-play-button {
  display: block;
}
// .vjs-big-play-button{
 

//   // background-color: red  !important;
// background-image: url(./assets/images/playVideo.png) !important;
// // background-color: yellow!important;
// }

.cardVideoTitleDiv{
  width: 1176px;
  margin-top: 10px;
  margin-bottom: 41px;
}

#cardVideoLogo{

  height: 77px;
}

.arrowTextBackDiv{
  display: flex;
  flex-direction: row;
}


// ---------------------------- Kontakt ------------------------------------

.kontaktMain{
  display: flex;
  margin-left: 278px;
  margin-right: 278px;
  margin-top: 55px;
  justify-content: center;
  opacity:1!important;
  transition: opacity 350ms;
}

.newBoxKontakt{
width: 354px;
height: 203px;
margin: 20px;
border-radius: 37px;
display: flex;
align-items: center;
flex-direction: column;
border-style: solid;
border-color: #667791;
}

.cardKontaktPosition{
  margin-top: 39px;
  margin-bottom: 8px;
  font-weight: bold;
}

.fontKontakt{
  font-size: 22px;

}

//----------------------------------------------- Wspolpraca --------------------------------

.wspolpacaContainer{
width: 893px;
height: 419px;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-left: auto;
margin-right: auto;
border: 1px;
border-color: #707070;
border-width: 1px;
border-style: solid;

}

.wspolpracaText{
  width: 893px;
  height: 128px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.manWspolpraca{
  margin-left: 104px;
  margin-bottom: 92px;

}

.bigInput {
  width: 447px;
  margin-left: 30px;
  border: none;
  border-bottom: 2px solid #667791;
  height: 40px;
  margin-bottom: 18px;
  
}

.bigInputUp{
  margin-top: 15px;
}

.smallInput{
  width: 187px;
  margin-left: 30px;
  border: none;
  border-bottom: 2px solid #667791;
  height: 40px;
}

.smallInput2{
margin-left: 65px;
}

.wspolpracaButton{
  text-align: center;
  margin-top: -43px;
}

// ------------------------------ Error --------------------------

#error{
  background-color: #dee201;
}

.errorContainer{
  margin-top: 406px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
