$primary-color :#1876d2;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: $primary-color;
}

//ZAWARTOŚĆ MAIN CONTENT

.newBoxVideo {
  background-color: green;
 
}
.produktyMain{
  display: flex;

}
.hidden{
  display: none;

}
.produktyMainHidden{
  display: none;

}
.filmyMain{
  display: flex;

}
.filmyMainHidden{
  display: none;

}
.wspolpracaMain{
  display: flex;

}
.kontaktMain{
  display: flex;

}


// DZIAL PDF

.pngPdf{
  height:115px;
  width:101px;
  align-content: center;

}
.pdfMain{
  display: flex;
 }
 
 .pdfMainHidden{
   display: none;
 }

.clickPdfClass{
  color: blue;

}
//nowy div z zawortoscia - nazwa pliku pdf
.newDivPdfFile{
  display: none;
}
.newBoxPdf {
  background-color: grey;
  width:201px;
  height: 180px;
  margin-right: 75px;

}
.pupPdf{
  display: none;
  //position: absolute;
  
  background-color: red;
}
.pupPdfOpen{
  display:block;
  position: absolute;

}
.noneSens {
color: #000;
}