body {
  background-color: white;
  font-family: "Poppins";
}

#main {
  flex-direction: column;
}

#logoWelcome {
  text-align: center;
  margin-top: 311px;
}

#welcomeText {
  text-align: center;
  margin-top: 91px;
  font-size: 25px;
  font-weight: bold;
}

.buttonStartClass {
  text-align: center;
  margin-top: 91px;
}

#buttonStart {
  width: 272px;
  height: 70px;
  background-color: #E8442C;
  border-radius: 35px;
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  border: none;
}

.logoMain {
  float: right;
  width: 290px;
  height: 104px;
  margin-right: 140px;
  margin-bottom: 76px;
  margin-top: 88px;
}

#head {
  display: flex;
  flex-direction: column;
}

#company {
  margin-right: 312px;
  font-size: 19px;
  float: right;
}

.navigationBar {
  margin-bottom: 69px;
}

ul li {
  display: inline;
  white-space: nowrap;
  float: right;
}

li {
  margin-left: 48px;
  font-size: 25px;
}

#menu {
  margin-right: 312px;
}

.newBoxVideo {
  background-color: green;
}

.hidden {
  display: none !important;
}

.produktyMainHidden {
  display: none;
}

.filmyMain {
  display: flex;
}

.filmyMainHidden {
  display: none;
}

.wspolpracaMain {
  display: flex;
}

.canvasContainer {
  text-align: center;
}

.pngPdf {
  height: 115px;
  width: 101px;
  align-content: center;
  margin-bottom: 30px;
}

.pdfMain {
  display: flex;
  justify-content: center;
}

.pdfMainHidden {
  display: none;
}

.PDFTitle {
  font-size: 19px;
}

.clickPdfClass {
  color: black;
}

.newDivPdfFile {
  display: none;
}

.newBoxPdf {
  width: 201px;
  height: 180px;
  margin-right: 175px;
  text-align: center;
}

.pupPdf {
  display: none;
  background-color: red;
}

.pupPdfOpen {
  display: block;
  text-align: center;
}

.noneSens {
  color: #000;
}

#cnv {
  text-align: center;
}

.pdfNavigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  width: 272px;
  height: 70px;
  background-color: #E8442C;
  border-radius: 35px;
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.newBoxProduct {
  width: 206px;
  height: 172px;
  margin-right: 70px;
}

.pngProduct {
  width: 206px;
  height: 115px;
  margin-bottom: 30px;
}

.produktyMain {
  display: flex;
  padding-left: 305px;
  padding-right: 305px;
}

.productTitle {
  text-align: center;
}

.fullProductPhotos {
  width: 655px;
  height: 368px;
  position: relative;
}

.fullProductBox {
  height: 568px;
  display: flex;
  margin-left: 336px;
  margin-right: 336px;
  flex-wrap: wrap;
}

#sliderConteiner {
  order: -1;
}

.pngPdfProduct {
  width: 34px;
  height: 39px;
  margin-left: auto;
  margin-right: auto;
}

.cardProductPdfs {
  display: flex;
  margin-top: 50px;
}

.pdfWithTitle {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}

.productTitleFull {
  font-size: 22px;
  margin-bottom: 68px;
  margin-top: 20px;
}

.fullProductTexts {
  margin-left: 32px;
  height: 368px;
  width: 528px;
}

#backToMainProduct {
  text-align: center;
  justify-content: center;
  width: 416px;
  height: 30px;
}

.backToMainProductDiv {
  justify-content: center;
  width: 100%;
  display: flex;
}

.productPdfTitle {
  text-align: center;
  font-size: small;
}

#nextProductPhoto {
  position: absolute;
  right: 10px;
  top: 169px;
}

#prevProductPhoto {
  position: absolute;
  left: 10px;
  top: 169px;
}

.imgContainer {
  position: relative;
}

.videosContainer {
  display: grid;
  margin-left: 278px;
  grid-template-columns: repeat(4, 299px);
  grid-gap: 50px;
}

.videoItem {
  height: 168px;
  width: 299px;
}

.cardVideoFull {
  display: flex;
  flex-direction: column;
  margin-left: 278px;
  margin-right: 278px;
  align-items: center;
}

.videoFull {
  width: 1300px;
  max-height: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#backToMainVideos {
  width: 272px;
  height: 70px;
  background-color: #E8442C;
  border-radius: 35px;
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.cardVideoTitle {
  font-size: large;
}

.kontaktMain {
  display: flex;
  margin-left: 278px;
  margin-right: 278px;
  margin-top: 55px;
  justify-content: center;
}

.newBoxKontakt {
  width: 354px;
  height: 203px;
  background-color: yellow;
  margin: 20px;
  border-radius: 37px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-color: #667791;
}

.cardKontaktPosition {
  margin-top: 26px;
  margin-bottom: 8px;
  font-weight: bold;
}

.fontKontakt {
  font-size: 22px;
}

.wspolpacaContainer {
  width: 893px;
  height: 419px;
  background-color: #359428;
  display: flex;
  flex-wrap: wrap;
}

.wspolpracaText {
  width: 893px;
  height: 128px;
}

.manWspolpraca {
  margin-left: 104px;
  margin-bottom: 92px;
}

.bigInput {
  width: 447px;
  margin-left: 30px;
  border: none;
  border-bottom: 2px solid #667791;
  height: 40px;
  margin-bottom: 18px;
}

.bigInputUp {
  margin-top: 15px;
}

.smallInput {
  width: 187px;
  margin-left: 30px;
  border: none;
  border-bottom: 2px solid #667791;
  height: 40px;
}

.smallInput2 {
  margin-left: 65px;
}
